In [1]:
import pandas as pd

In [2]:
a = pd.read_csv("sampled_1.csv")

In [4]:
b = pd.read_csv("trip_fare_1.csv")
b

,medallion,hack_license,vendor_id,pickup_datetime,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,89D227B655E5C82AECF13C3F540D4CF4,BA96DE419E711691B9445D6A6307C170,CMT,2013-01-01 15:11:48,CSH,6.5,0.0,0.5,0.0,0.0,7.0
1,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,2013-01-06 00:18:35,CSH,6.0,0.5,0.5,0.0,0.0,7.0
2,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,2013-01-05 18:49:41,CSH,5.5,1.0,0.5,0.0,0.0,7.0
3,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,2013-01-07 23:54:15,CSH,5.0,0.5,0.5,0.0,0.0,6.0
4,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,2013-01-07 23:25:03,CSH,9.5,0.5,0.5,0.0,0.0,10.5
...,...,...,...,...,...,...,...,...,...,...,...
14776610,B33E71CD9E8FE1BE3B70FEB6E807DD15,BAF57796E45D921BB23217E17A372FF6,CMT,2013-01-06 04:58:23,CSH,13.0,0.5,0.5,0.0,0.0,14.0
14776611,ED160B76D5349C8AC1ECF22CD4B8D538,3B93F6DA5DEBDE9560993FA624C4FF76,CMT,2013-01-08 14:42:04,CSH,7.5,0.0,0.5,0.0,0.0,8.0
14776612,D83F9AC0E33F6F19869C243BE6AB6FE5,85A55B6772275374EF90AC9457DC1F83,CMT,2013-01-10 13:29:23,CSH,6.0,0.0,0.5,0.0,0.0,6.5
14776613,04E59442A7DDBCE515E33CD355D866E7,7913172189931A1A1632562B10AB53C4,CMT,2013-01-06 16:30:15,CSH,9.5,0.0,0.5,0.0,0.0,10.0
14776614,D30BED60331C79E3F7ACD05B325ED42F,B5E1D2461A5BCC8819188DACEC17CD69,CMT,2013-01-05 20:38:46,CSH,5.0,0.5,0.5,0.0,0.0,6.0

In [5]:
a

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,4BAD9258F80F0557C351A1765B209298,44B47A8DA1F1543C803FFBFAB9A96412,VTS,1,NaN,2013-01-03 16:04:00,2013-01-03 16:11:00,2,420,1.21,-73.992828,40.742657,-73.986603,40.755093
1,EF0AE8B6BBD239B3424741BAB551C179,C12D7B322897E41D27B3981E036B2D47,CMT,1,N,2013-01-05 12:01:04,2013-01-05 12:17:44,1,1000,8.90,-73.862747,40.768780,-73.979324,40.750145
2,4ECDC17413FB05BFDD0BA837C7D657EF,E39FFA7A2F91E5BD08B716832EA8112A,VTS,1,NaN,2013-01-01 04:30:00,2013-01-01 04:33:00,1,180,1.09,-73.983032,40.734936,-73.985809,40.743809
3,CA5B90CD7F0B61A0C32ABBCF3E1B1D73,A999EF8A46251492437FDA23C8F7DF3C,CMT,1,Y,2013-01-24 12:58:31,2013-01-24 13:08:15,1,584,1.30,-73.966713,40.761604,-73.983391,40.770248
4,113D28C6EF6F520407B47F9C97580A3B,5852E74E3414B115D64C49B3D3ADB416,VTS,1,NaN,2013-01-12 18:22:00,2013-01-12 18:27:00,1,300,0.71,-73.974709,40.744251,-73.980927,40.741276
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738826,4591B5DD928BB1A9444B706425BECD8F,378F34F93043BC8CB5C92186819B2FD2,CMT,1,N,2013-01-17 20:19:33,2013-01-17 20:32:02,2,749,1.60,-73.973854,40.764599,-73.991341,40.752182
738827,40CE9601A3E4406427BC3799A4258CC7,63F78C93C7ABA820DE182CB864148191,VTS,1,NaN,2013-01-04 23:10:00,2013-01-04 23:23:00,1,780,2.70,-73.989792,40.756565,-74.001236,40.729214
738828,90444DF112C5770C8C82DE2A7930C69B,5594F56B961F941D7AE7AD5AB3C33442,CMT,1,N,2013-01-04 22:33:27,2013-01-04 22:46:57,1,810,3.00,-73.983910,40.749664,-73.993851,40.720345
738829,AA105C297823E6DA7FFADCED7B9F1A2D,824A29E343A5543288BA1DCCC71BDF35,CMT,1,N,2013-01-28 19:02:39,2013-01-28 19:09:23,1,403,1.20,-73.991508,40.738792,-73.988281,40.725651
738830,B7EF8242FFE3369E40D0ED5FDDBB27B4,164B133FF8E8A8C7AE323DB990B37ADF,VTS,1,NaN,2013-01-25 17:25:00,2013-01-25 17:43:00,6,1080,2.49,-73.988174,40.757233,-73.984909,40.724365

In [23]:
b.columns = ['medallion', 'hack_license', 'vendor_id', 'pickup_datetime',
       'payment_type', 'fare_amount', 'surcharge', 'mta_tax',
       'tip_amount', 'tolls_amount', 'total_amount']

In [24]:
b.columns

Index(['medallion', 'hack_license', 'vendor_id', 'pickup_datetime',
       'payment_type', 'fare_amount', 'surcharge', 'mta_tax', 'tip_amount',
       'tolls_amount', 'total_amount'],
      dtype='object')

In [30]:
b

,medallion,hack_license,vendor_id,pickup_datetime,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,89D227B655E5C82AECF13C3F540D4CF4,BA96DE419E711691B9445D6A6307C170,CMT,2013-01-01 15:11:48,CSH,6.5,0.0,0.5,0.0,0.0,7.0
1,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,2013-01-06 00:18:35,CSH,6.0,0.5,0.5,0.0,0.0,7.0
2,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,2013-01-05 18:49:41,CSH,5.5,1.0,0.5,0.0,0.0,7.0
3,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,2013-01-07 23:54:15,CSH,5.0,0.5,0.5,0.0,0.0,6.0
4,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,2013-01-07 23:25:03,CSH,9.5,0.5,0.5,0.0,0.0,10.5
...,...,...,...,...,...,...,...,...,...,...,...
14776610,B33E71CD9E8FE1BE3B70FEB6E807DD15,BAF57796E45D921BB23217E17A372FF6,CMT,2013-01-06 04:58:23,CSH,13.0,0.5,0.5,0.0,0.0,14.0
14776611,ED160B76D5349C8AC1ECF22CD4B8D538,3B93F6DA5DEBDE9560993FA624C4FF76,CMT,2013-01-08 14:42:04,CSH,7.5,0.0,0.5,0.0,0.0,8.0
14776612,D83F9AC0E33F6F19869C243BE6AB6FE5,85A55B6772275374EF90AC9457DC1F83,CMT,2013-01-10 13:29:23,CSH,6.0,0.0,0.5,0.0,0.0,6.5
14776613,04E59442A7DDBCE515E33CD355D866E7,7913172189931A1A1632562B10AB53C4,CMT,2013-01-06 16:30:15,CSH,9.5,0.0,0.5,0.0,0.0,10.0
14776614,D30BED60331C79E3F7ACD05B325ED42F,B5E1D2461A5BCC8819188DACEC17CD69,CMT,2013-01-05 20:38:46,CSH,5.0,0.5,0.5,0.0,0.0,6.0

In [34]:
c = a.merge(b, on=['medallion', 'hack_license', 'pickup_datetime', 'vendor_id'])

In [35]:
c.to_csv("all_data.csv", index=False)

In [ ]:
vendor_id, pickup_datetime, dropoff_datetime, passenger_count, trip_time_in_secs, trip_distance, borought, payment_type,

In [33]:
c

,medallion,hack_license,vendor_id_x,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,...,dropoff_longitude,dropoff_latitude,vendor_id_y,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,4BAD9258F80F0557C351A1765B209298,44B47A8DA1F1543C803FFBFAB9A96412,VTS,1,NaN,2013-01-03 16:04:00,2013-01-03 16:11:00,2,420,1.21,...,-73.986603,40.755093,VTS,CSH,6.5,1.0,0.5,0.00,0.0,8.00
1,EF0AE8B6BBD239B3424741BAB551C179,C12D7B322897E41D27B3981E036B2D47,CMT,1,N,2013-01-05 12:01:04,2013-01-05 12:17:44,1,1000,8.90,...,-73.979324,40.750145,CMT,CRD,26.0,0.0,0.5,7.82,4.8,39.12
2,4ECDC17413FB05BFDD0BA837C7D657EF,E39FFA7A2F91E5BD08B716832EA8112A,VTS,1,NaN,2013-01-01 04:30:00,2013-01-01 04:33:00,1,180,1.09,...,-73.985809,40.743809,VTS,CRD,5.5,0.5,0.5,1.00,0.0,7.50
3,CA5B90CD7F0B61A0C32ABBCF3E1B1D73,A999EF8A46251492437FDA23C8F7DF3C,CMT,1,Y,2013-01-24 12:58:31,2013-01-24 13:08:15,1,584,1.30,...,-73.983391,40.770248,CMT,CSH,8.0,0.0,0.5,0.00,0.0,8.50
4,113D28C6EF6F520407B47F9C97580A3B,5852E74E3414B115D64C49B3D3ADB416,VTS,1,NaN,2013-01-12 18:22:00,2013-01-12 18:27:00,1,300,0.71,...,-73.980927,40.741276,VTS,CRD,5.5,0.0,0.5,1.38,0.0,7.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738826,4591B5DD928BB1A9444B706425BECD8F,378F34F93043BC8CB5C92186819B2FD2,CMT,1,N,2013-01-17 20:19:33,2013-01-17 20:32:02,2,749,1.60,...,-73.991341,40.752182,CMT,CRD,9.5,0.5,0.5,2.62,0.0,13.12
738827,40CE9601A3E4406427BC3799A4258CC7,63F78C93C7ABA820DE182CB864148191,VTS,1,NaN,2013-01-04 23:10:00,2013-01-04 23:23:00,1,780,2.70,...,-74.001236,40.729214,VTS,CSH,11.5,0.5,0.5,0.00,0.0,12.50
738828,90444DF112C5770C8C82DE2A7930C69B,5594F56B961F941D7AE7AD5AB3C33442,CMT,1,N,2013-01-04 22:33:27,2013-01-04 22:46:57,1,810,3.00,...,-73.993851,40.720345,CMT,CRD,13.0,0.5,0.5,1.00,0.0,15.00
738829,AA105C297823E6DA7FFADCED7B9F1A2D,824A29E343A5543288BA1DCCC71BDF35,CMT,1,N,2013-01-28 19:02:39,2013-01-28 19:09:23,1,403,1.20,...,-73.988281,40.725651,CMT,CRD,6.5,1.0,0.5,1.00,0.0,9.00
738830,B7EF8242FFE3369E40D0ED5FDDBB27B4,164B133FF8E8A8C7AE323DB990B37ADF,VTS,1,NaN,2013-01-25 17:25:00,2013-01-25 17:43:00,6,1080,2.49,...,-73.984909,40.724365,VTS,CSH,13.0,1.0,0.5,0.00,0.0,14.50

In [37]:
set(c['vendor_id'].tolist())

{'CMT', 'VTS'}